body {
    background-image: url(../bg.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
}

#navbarTitle {
    font-size: 40px;
    text-align: center;
}

#articlebox1,
#articlebox2,
#articlebox3 {
    width: 150px;
    height: 60px;
    justify-content: center;
}

#postTitle {
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

#postContent {
    text-align: center;
    font-size: 20px;
}

#deletebutton {
    align-self: flex-end;
}

#titleform1,
#titleform2,
#titleform3 {
    text-align: center;
    font-size: 20px;
}

.navbar {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}