<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Blog.css">
    <link href="{{ asset('css/Blog.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Form Person</title>
</head>

<body>
    <a href="{{path('Home')}}" class="btn btn-primary btn-lgs" role="button">Back to main page</a>
    <form class="container-fluid">

        <div class="row">
            <label for="title" class="col-12" id="titleform1"> Add Title : </label>
            <input type="text" name="title" id="articlebox1" class="col-12">
            <label for="author" class="col-12" id="titleform2"> Add Author : </label>
            <input type="text" name="author" id="articlebox2" class="col-12">
            <label for="content" class="col-12" id="titleform3"> Add Content : </label>
            <input type="text" name="content" id="articlebox3" class="col-12">
        </div>

        </div>


        <button>Create Article</button>
    </form>
</body>

</html>