<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thomas's Blog</title>

    <link href="{{ asset('css/Blog.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar container-fluid">
        <span class="navbar-text mx-auto"><a href="{{path('Home')}}" id="navbarTitle">Thomas's blog</a></span>
        <a href="{{path('addPost')}}" class="btn btn-success btn-lgs" role="button"><i class="fas fa-plus"></i>Add an article</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% for posts in post %}
            <div class="col-10 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{posts.title}} </h5>
                        <p class="card-text">
                            {{posts.content}} {{posts.author}}
                        </p>
                        <!-- <a href="{{path('showPost', {id:posts.id})}}" class="card-link">Show Article</a> -->
                        <a href="{{path('showPost', {id:posts.id})}}" class="btn btn-primary btn-lgs" role="button"><i class="fas fa-plus"></i>Read Article</a>
                        <a href="{{path('deletepost', {id:posts.id})}}" class="btn btn-danger btn-lgs" role="button"><i class="fas fa-plus"></i>Delete Article</a>
                        <p>Authored by {{posts.author}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html