<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show One Person</title>
    <link rel="stylesheet" href="Blog.css">
    <link href="{{ asset('css/Blog.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <a href="{{path('Home', {id:post.id})}}" class="btn btn-primary btn-lgs" role="button">Back to main page</a>


        <p>

            <h1 id="postTitle">{{post.title}}</h1>
        </p>

        <br>
        <h2 id="postContent">{{post.content}}</h2>

        <a href="{{path('deletepost', {id:post.id})}}" class="btn btn-danger btn-lgs" role="button" id="deletebutton"><i class="fas fa-plus"></i>Delete Article</a>
        <p>Authored by {{post.author}}</p>
    </div>

</body>

</html>